# General ignored files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IntelliJ IDEA
/.idea/*
*.iml
/out/
rag-evaluation-backend/.idea/*

# Python
*.pyc
*.pyo
*.log
__pycache__/
*.pyc
dist/
build/
/venv/
env/
*.egg-info/
*.egg
sdist/

rag-evaluation-backend/app/core/config.py

# React
/node_modules
/build
.parcel-cache
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
*.swp
*~
/.vscode/

# 添加以下内容到.gitignore文件
docker/nginx/cert/
docker/nginx/default_cert.conf
docker_https/

.cursorrules

.cursor